__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
.env
*.env.local
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
*.so
*.terraform/
*.terraform.lock.hcl
terraform.tfstate*
.DS_Store
